.Rproj.user
.Rhistory
.RData
.Ruserdata
data/charm/raw
data/charm/processed/
data/bathymetry/raw
data/cdfw/landings_confidential
data/whale_surveys/data/0006779-190813142620410.csv
admin/
data/whale_sdms/data
*.DS_Store